<section>
    <div class="exp-book-parent">
        <article id="exp-article">
            <div class="exp-img">
                <img src="/pdf-demo-pic.jpg" alt="pdf image">
            </div>
            <div class="exp-metadata">
                <div id="exp-name">
                    <h1>{{ bookDetail.nativeName }}</h1>
                </div>                    
                <div class="exp-details">
                    <ul>
                        <li>{{ bookDetail.pages }} Pages</li>
                        <li>{{ bookDetail.dateCreated }}</li>
                        <li>{{ bookDetail.size }}</li>
                        <li>{{ bookDetail.downloads }} Downloads</li>
                    </ul>
                </div>
                <div>
                    <div class="exp-desc">
                        <p>{{ bookDetail.description }}</p> 
                    </div>
                </div>
                <div id="dwn-parent">
                    <a onclick="updateCount('{{bookDetail.nativeName}}')" class="dwn-btn" href="{{ downloadLink }}" download="name">
                        <button>
                            Download
                        </button>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>