{{> alert }}
<section class="pad">
    <div class="articles">
        {{#each matchArr}}         
            <article>
                <img id="feed-img" src="/pdf-demo-pic.jpg" alt="pdf">
                <div class="metadata">
                    <div class="title">
                        <h1><a href="/books/{{ this._id }}">{{ truncateName this.nativeName }}</a></h1>
                    </div>
                    <div class="detail">
                        <ul>
                            <li>{{ this.pages }} Pages</li>
                            <li>{{ this.dateCreated }}</li>
                            <li>{{ this.size }}</li>
                            <li>{{ this.downloads }} Downloads</li>
                        </ul>
                    </div>
                    <div class="description">
                        <p>{{ truncateDesc this.description }}</p>
                    </div>
                </div>
            </article>
        {{/each}}
        <nav aria-label="Page navigation example">
            <ul class="paginate">
                {{#if prev}}
                    <li class="pa-prev">
                        <a href="/page/{{ prev }}">Previous</a>
                    </li>               
                {{/if}}
                <div class="page-numbers">
                    {{#each totalPages}}
                        {{#if this.status}}
                            <li class="pa-item active"><a href="/page/{{this.page}}">{{this.page}}</a></li>
                        {{else}}
                            <li class="pa-item"><a href="/page/{{this.page}}">{{this.page}}</a></li>
                        {{/if}}                                               
                    {{/each}}
                </div>
                {{#if next}}
                    <li class="pa-next">
                        <a href="/page/{{ next }}">Next</a>
                    </li>                    
                {{/if}}
            </ul>
        </nav>
    </div>
</section>