<section id="book">
    <div class="articles">
        {{#each matchArr}}           
            <article>
                <img src="pdf-demo-pic.jpg" alt="pdf">
                <div class="metadata">
                    <div class="title">
                        <h1><a href="/books/{{ this.nativeName }}">{{ this.nativeName }}</a></h1>
                    </div>
                    <div class="detail">
                        <ul>
                            <li>{{ this.pages }} Pages</li>
                            <li>{{ this.date }}</li>
                            <li>{{ this.size }}</li>
                            <li>{{ this.downloads }} Downloads</li>
                        </ul>
                    </div>
                    <div class="description">
                        <p>This MTH125 pdf contains past questions and detailed solution ro them</p>
                    </div>
                </div>
            </article>
        {{/each}}
    </div>
</section>